
.mobi #headercontent{
  float: none;
  clear: both;
}
.mobi #header{
  width: 100%; position: fixed; z-index: 10000;
  text-align: center;
}
.mobi #topsection {
  height: 100px;
}
.mobi #menu_vert2{
  display: none;
}

#header .nav-mob {display: none;}
.mobi #header .nav-mob {display: block; position:absolute;}
.mobi #header #nav-atas {top: 0; left: 0;}
.mobi #header #nav-main {top: 0; right: 0;}
.mobi #header .nav-mob ul {margin: 0; padding: 0;}
.mobi #header .nav-mob ul li {display: inline-block; width: 44px; height: 44px; margin: 0 auto; text-align:center; padding: 12px 0 0 0;}
/*.mobi #header #nav-main ul li {padding: 9px 0 0 0;}*/
.mobi #header .nav-mob img.nav-sprite {background-image:url(../images/nav_sprite.png); background-repeat:no-repeat; background-position: 0 0; vertical-align:middle;}
.mobi #header .nav-mob img.icon-browse {background-position: -10px -50px; width: 24px; height: 18px;}
.mobi #header #menu_vert {display: none;}

.mobi #mainmenu {display: none;}

.mobi #header #divlogo {float: none; display: inline-block; text-align: center; margin-right: 0 auto;}
.mobi #header #divlogo-txt {float: left;}
.mobi #header #divlogo-img {float: left;}

#header #navbar-sub {display: none; /**position:absolute; top: 0;**/ height: 40px; padding: 0 10px; border-top: 1px dashed #A8E2FF; z-index: 9900;}

.mobi #header #navbar-sub-browse-atas {
  background: rgba(255,255,255, 0.9);
  border: solid 1px lightgray;
  padding-left: 10px;
}
.mobi #header #navbar-sub-browse-main {
  background: rgba(255,255,255, 0.9);
  border: solid 1px lightgray;
  padding-left: 10px;
}

.mobi #header #navbar-sub-browse-atas ul{margin: 0; padding: 0; list-style-type: none; text-align: left; line-height: 1.4em;}
.mobi #header #navbar-sub-browse-atas ul ul{padding-left: 20px;}
.mobi #header #navbar-sub-browse-main ul{margin: 0; padding: 0; list-style-type: none; text-align: right; line-height: 1.4em;}
.mobi #header #navbar-sub-browse-main ul ul{padding-right: 20px;}
/*.mobi #header #navbar-sub-browse li{float: left; width: 28%; height: 40px; line-height: 40px; vertical-align: middle;}*/
.mobi #header #navbar-sub-browse li.wide{width: 44%;}
.mobi #header #navbar-sub-browse li.meetups, .mobi #header #navbar-sub-browse li.groups{float: left; display: none;}
.mobi #header #navbar-sub-actions li{float: left; width: 28%; height: 40px; line-height: 40px; vertical-align: middle;}
.mobi #header #navbar-sub-actions li#login{width: 23%;}
.mobi #header #navbar-sub-actions li#header-actions-1{width: 15%;}
.mobi #header #navbar-sub-actions li.list-your-space{width: 34%;}
.mobi #header #navbar-sub-actions li.list-your-space #list-your-space{margin-left: 0px; font-size: 0.8em; margin-top: 0;}
.mobi #header #navbar-sub-actions li#header-actions-1 a .caret{display: none;}